.Select {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Placeholder {
  display: inline-block;
  padding-right: 40px;
  position: relative;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}

.Chevron {
  position: absolute;
  top: 50%;
  right: 13px;
  width: 12px;
  transform: translateY(-50%) rotate(180deg);
  transition: all .2s ease-in-out;
  box-sizing: border-box;
}

.ChevronOpen {
  transform: translateY(-50%) rotate(0deg);
}

.OptionsContainer {
  position: relative;
  background: #31434c;
  height: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

.OptionsContainerOpen {
  position: fixed;
  border-radius: 8px;
  padding: 10px 0;
  height: 120px;
  overflow-y: scroll;
  opacity: 1;
  z-index: 2;
}
