.Tag {
  display: inline-block;
  font-weight: 500;
  letter-spacing: .1px;
  padding: 0 15px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 25px;
  border-radius: 2px;
  box-sizing: border-box;
}

.Success {
  background-color: var(--green);
  color: #fff;
}

.Danger {
  background-color: var(--red);
  color: #fff;
}

.Info {
  background-color: var(--yellow);
  color: var(--main-color);
}

.Void {
  background-color: var(--silver);
  color: var(--main-color);
}

.Accepted {
  background-color: var(--blue);
  color: #fff;
}

.Cancelled {
  background-color: #000;
  color: #fff;
}

.Rounded {
  border-radius: 15px;
}
