.Option {
  display: flex;
  padding: 5px 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}

.Option:hover,
.OptionSelected:hover {
  background-color: var(--blue);
  cursor: auto;
  cursor: pointer;
}

.OptionLabel {
  position: relative;
  padding: 0 18px;
  box-sizing: border-box;
}

.Tick {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  transform: translateY(-50%);
}
