.btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  border: 2px solid;
  outline: none;
  box-sizing: border-box;
  padding: 8px 40px;
  border-radius: 6px;
  cursor: pointer;
  transition: all .15s ease-in-out;
  font-weight: inherit;
  box-sizing: border-box;
}

.primary {
  background-color: var(--coral);
  border-color: var(--coral);
}

.primary:hover {
  background-color: #F49999;
  border-color: #F49999;
  border-bottom-color: #C27979;
}

.primary:disabled {
  cursor: not-allowed;
  background-color: #FAADAD;
  border-color: #FAADAD;
}

.primary:active {
  background-color: #e98080;
  border-color: #e98080;
}

.secondary {
  border-color: var(--coral);
  background-color: transparent;
  color: var(--coral);
}

.secondary:hover {
  color: #F49999;
  border-color: #F49999;
}

.secondary:disabled {
  cursor: not-allowed;
  color: #FEE4E4;
  border-color: #FEE4E4;
}

.tertiary {
  color: var(--coral);
  background-color: transparent;
  border-color: transparent;
}

.tertiary:disabled {
  cursor: not-allowed;
  color: #F49999;
  background-color: transparent;
  border-color: transparent;
}

.neutral {
  border-color: var(--silver);
  background-color: var(--silver);
  color: var(--grey);
}

.neutral:hover {
  border-bottom-color: #B0B0B5;
}

.neutral:active {
  border-color: #eaeaee;
  background-color: #eaeaee;
}

.neutral:disabled {
  cursor: not-allowed;
  color: #C6C5C5;
  border-color: #EFEFF2;
  background-color: #EFEFF2;
}

.Icon {
  width: 15px;
}
