.SwitchWrapper {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.InputCheckbox {
  opacity: 0;
  outline: none;
  position: absolute;
  width: 54px;
  height: 32px;
  border-radius: 17px;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  box-sizing: border-box;
}

.Switch {
  position: absolute;
  width: 58px;
  height: 34px;
  background: #ececef;
  border-radius: 17px;
  transition: background-color 0.15s ease-in-out;
}

.SwitchKnob {
  display: block;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transform: translateX(0);
  transition: all 0.15s ease-in-out;
}

.InputCheckbox:checked ~ .Switch {
  background-color: #20cb81;
}

.InputCheckbox:checked ~ .Switch .SwitchKnob {
  transform: translateX(24px);
}
